body{
    background-color: rgb(7, 7, 7);
}

.container {

    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:450px;
    height:320px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1px;
    border-color: white;

  }

.invisible{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 380px;
  width: 100%;
}

.carousel-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 403px;
    width:100%;
    height:100px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1px;
    border-color: white;

  }

  .carousel-track {
    display: flex;
  }
  
  .carousel-track a {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  

  @font-face {
    font-family: "CustomFont";
    src: url("media/apfelFontV01.ttf") format("truetype");
  }
  
div#parmesan{
    position: absolute;
    top: -84px;
    left: 35%;
    width:300px;
    height:20px;
}
  
div#apfel-walk{
    position: absolute;
    bottom: -9px;
    right: 50%;
    transform: translateX(50%);
    width:100%;
}

div#masking-left{
    position: absolute;
    top: 100%;
    left: 100%;
    width:300px;
    height:20px;
    background-color: rgb(7, 7, 7);
}

div#masking-right{
    position: absolute;
    top: 100%;
    right: 100%;
    width:300px;
    height:20px;
    background-color: rgb(7, 7, 7);
}

  div#thehirou-text{
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
  }

  div#thehirou-text p{
    font-family: "CustomFont", sans-serif;
    color: white;
    font-size: 30px;
  }

  div#workinprogress-text{
    
    width: 500px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }

  div#workinprogress-text p{
    text-align: center;
    font-family: "CustomFont", sans-serif;
    color: white;
    font-size: 30px;
  }

  div#text-wip{
    position: absolute;
    width: 150%;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
  }

  div#text-wip p{
    text-align: center;
    font-family: "CustomFont", sans-serif;
    color: white;
    font-size: 12px;
  }

  div#box-fanart{
    border: 2px solid;
    border-color: white;
    padding: 5px;
  }

  div#fanart{
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .under-fanart{
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 25px;
    opacity: 1;
  }

  div#fanart img{
    width: 100%;
  }

  div#fanart audio{
    width: 100%;
  }

  div#text-1{
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translateX(-50%);
  }

  div#text-1 p{
    width: 800px;
    font-family: "CustomFont", sans-serif;
    color: white;
    font-size: 12px;
  }

  div#hiroupic{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }

  div#banner-under{
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
  }

/* RIGHT SIDE */


  div#tumblr-text{
    opacity: 0;
    position: absolute;
    left: 117%;
    top: 5px;
    transition: opacity 0.3s ease-in-out; 
    text-shadow: 0 0 5px rgba(0, 0, 255, 0); 
  }

  div#tumblr-logo:hover + div#tumblr-text {
    opacity: 1;
    animation: shake 3s ease-in-out infinite;
    text-shadow: 0 0 10px rgb(255, 255, 255); 
  }

  div#tumblr-text p{
    width: 100px;
    font-family: "CustomFont", sans-serif;
    color: white;
    font-size: 16px;
  }

  div#tumblr-logo{
    opacity: 0.5;
    position: absolute;
    left: 104%;
    top: 20px;
  }

  div#tumblr-logo:hover{
    opacity: 1;
    filter: drop-shadow(0 0 10px white) brightness(150%);
    animation: glow 1s infinite alternate;
    animation: shake 2s ease-in-out infinite;
  }




  div#twitter-text{
    opacity: 0;
    position: absolute;
    left: 117%;
    top: 85px;
    transition: opacity 0.3s ease-in-out; 
    text-shadow: 0 0 5px rgba(0, 0, 255, 0);
  }

  div#twitter-text p{
    width: 100px;
    font-family: "CustomFont", sans-serif;
    color: white;
    font-size: 16px;
  }

  div#twitter-logo:hover + div#twitter-text {
    opacity: 1;
    animation: shake 3s ease-in-out infinite;
    text-shadow: 0 0 10px rgb(255, 255, 255);
  }
  
  div#twitter-logo{
    opacity: 0.5;
    position: absolute;
    left: 104%;
    top: 100px;
  }

  div#twitter-logo:hover{
    opacity: 1;
    filter: drop-shadow(0 0 10px white) brightness(150%);
    animation: glow 1s infinite alternate;
    animation: shake 2s ease-in-out infinite;
  }




  div#bandcamp-text{
    opacity: 0;
    position: absolute;
    left: 117%;
    top: 165px;
    transition: opacity 0.3s ease-in-out; 
    text-shadow: 0 0 5px rgba(0, 0, 255, 0);
  }

  div#bandcamp-text p{
    width: 100px;
    font-family: "CustomFont", sans-serif;
    color: white;
    font-size: 16px;
  }

  div#bandcamp-logo:hover + div#bandcamp-text {
    opacity: 1;
    animation: shake 3s ease-in-out infinite;
    text-shadow: 0 0 10px rgb(255, 255, 255); 
  }

  div#bandcamp-logo{
    opacity: 0.5;
    position: absolute;
    left: 104%;
    top: 180px;
  }

  div#bandcamp-logo:hover{
    opacity: 1;
    filter: drop-shadow(0 0 10px white) brightness(150%);
    animation: glow 1s infinite alternate;
    animation: shake 2s ease-in-out infinite;
  }




  div#discord-text{
    opacity: 0;
    position: absolute;
    left: 117%;
    top: 245px;
    transition: opacity 0.3s ease-in-out; 
    text-shadow: 0 0 5px rgba(0, 0, 255, 0); 
  }

  div#discord-text p{
    width: 100px;
    font-family: "CustomFont", sans-serif;
    color: white;
    font-size: 16px;
  }

  div#discord-logo:hover + div#discord-text {
    opacity: 1;
    animation: shake 3s ease-in-out infinite;
    text-shadow: 0 0 10px rgb(255, 255, 255); 
  }
  
  div#discord-logo{
    opacity: 0.5;
    position: absolute;
    left: 104%;
    top: 260px;
  }

  div#discord-logo:hover{
    opacity: 1;
    filter: drop-shadow(0 0 10px white) brightness(150%);
    animation: glow 1s infinite alternate;
    animation: shake 2s ease-in-out infinite;
  }


/* LEFT SIDE */

div#apfel-text{
    opacity: 0;
    position: absolute;
    right: 117%;
    top: 5px;
    transition: opacity 0.3s ease-in-out; 
    text-shadow: 0 0 5px rgba(0, 0, 255, 0);
  }

  div#apfel-text p{
    text-align: right;
    width: 200px;
    font-family: "CustomFont", sans-serif;
    color: white;
    font-size: 16px;
  }

  div#apfel-logo:hover + div#apfel-text {
    opacity: 1;
    animation: shake 3s ease-in-out infinite;
    text-shadow: 0 0 10px rgb(255, 255, 255); 
  }
  


  div#apfel-logo{
    opacity: 0.5;
    position: absolute;
    right: 104%;
    top: 20px;
  }

  div#apfel-logo:hover{
    opacity: 1;
    filter: drop-shadow(0 0 10px white) brightness(150%);
    animation: glow 1s infinite alternate;
    animation: shake 2s ease-in-out infinite;
  }

  div#music-text{
    opacity: 0;
    position: absolute;
    right: 117%;
    top: 85px;
    transition: opacity 0.3s ease-in-out;
    text-shadow: 0 0 5px rgba(0, 0, 255, 0); 
  }

  div#music-text p{
    text-align: right;
    width: 200px;
    font-family: "CustomFont", sans-serif;
    color: white;
    font-size: 16px;
  }

  div#music-logo:hover + div#music-text {
    opacity: 1;
    animation: shake 3s ease-in-out infinite;
    text-shadow: 0 0 10px rgb(255, 255, 255); 
  }

  
  div#music-logo{
    opacity: 0.5;
    position: absolute;
    right: 104%;
    top: 100px;
  }

  div#music-logo:hover{
    opacity: 1;
    filter: drop-shadow(0 0 10px white) brightness(150%);
    animation: glow 1s infinite alternate;
    animation: shake 2s ease-in-out infinite;
  }


  div#fanart-text{
    opacity: 0;
    position: absolute;
    right: 117%;
    top: 165px;
    transition: opacity 0.3s ease-in-out;
    text-shadow: 0 0 5px rgba(0, 0, 255, 0); 
  }

  div#fanart-text p{
    text-align: right;
    width: 200px;
    font-family: "CustomFont", sans-serif;
    color: white;
    font-size: 16px;
  }

  div#fanart-logo:hover + div#fanart-text {
    opacity: 1;
    animation: shake 3s ease-in-out infinite;
    text-shadow: 0 0 10px rgb(255, 255, 255);
  }

  div#fanart-logo{
    opacity: 0.5;
    position: absolute;
    right: 104%;
    top: 180px;
  }

  div#fanart-logo:hover{
    opacity: 1;
    filter: drop-shadow(0 0 10px white) brightness(150%);
    animation: glow 1s infinite alternate;
    animation: shake 2s ease-in-out infinite;
  }

  div#about-text{
    opacity: 0;
    position: absolute;
    right: 117%;
    top: 245px;
    transition: opacity 0.3s ease-in-out; 
    text-shadow: 0 0 5px rgba(0, 0, 255, 0); 
  }

  div#about-text p{
    text-align: right;
    width: 200px;
    font-family: "CustomFont", sans-serif;
    color: white;
    font-size: 16px;
  }

  div#about-logo:hover + div#about-text {
    opacity: 1;
    animation: shake 3s ease-in-out infinite;
    text-shadow: 0 0 10px rgb(255, 255, 255); 
  }

  div#about-logo{
    opacity: 0.5;
    position: absolute;
    right: 104%;
    top: 260px;
  }

  div#about-logo:hover{
    opacity: 1;
    filter: drop-shadow(0 0 10px white) brightness(150%);
    animation: glow 1s infinite alternate;
    animation: shake 2s ease-in-out infinite;
  }








  #text-1 {
    margin-top: 0px;
    text-align: center;
    font-size: 32px;
  }

  #text-2 {
    margin-top: -30px;
    text-align: center;
    font-size: 16px;
  }

  #image-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
  }
  
  @keyframes shake {
    0% {
      transform: translate(0, 0) rotate(0);
    }
    10% {
      transform: translate(-2px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(2px, 2px) rotate(1deg);
    }
    30% {
      transform: translate(-2px, 0) rotate(-1deg);
    }
    40% {
      transform: translate(2px, 0) rotate(1deg);
    }
    50% {
      transform: translate(-2px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(2px, -2px) rotate(1deg);
    }
    70% {
      transform: translate(0, 2px) rotate(-1deg);
    }
    80% {
      transform: translate(0, -2px) rotate(1deg);
    }
    90% {
      transform: translate(2px, 0) rotate(-1deg);
    }
    100% {
      transform: translate(0, 0) rotate(0);
    }
  }


  @keyframes glow {
    0% {
      filter: drop-shadow(0 0 10px white) brightness(150%);
    }
    100% {
      filter: drop-shadow(0 0 20px white) brightness(150%);
    }
  }


  