.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-gallery img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid black;
}
