/* @import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Cousine&family=Merriweather:wght@300&display=swap'); */
/*LOOKS LIKE THE COUSINE FON'T WASN'T ACTUALLY LOADING SO I'M JUST USING MONOSPACE, EITHER WAY I ALREADY LIKE HOW MONOSPACE LOOKS SO I'M NOT GOING TO CHANGE IT NOW LOL*/

/*VARIABLES*/

:root {
    --header-height: 30px;

    --transition-speed: 0.5s;

    --image-width: 640px;
    --image-height: 480px;

    --blatherbox-width: 640px;
    --blatherbox-height: 480px;

    --blathertext-width: calc(var(--blatherbox-width) - var(--blather-box-text-separation));
    --blathertext-height: calc(var(--blatherbox-height) - var(--blather-box-text-separation));

    --blather-box-text-separation: 30px;

    --main-centered-width: calc(var(--image-width) + var(--blatherbox-width));

    --blather-line-height: 1.1;

    --distance-between-blather-linebreaks: 3px;
/* OLD COLORS
    --color-light: #F4C098;
    --color-half: #806652;
    --color-dark: #574436;
*/

    --random-seed: 0.5; /* Initial seed value, you can change this */
    --hue: calc(var(--random-seed) * 360);
    --color-light: hsl(var(--hue),      30%, 50%);
    --color-half: hsl(var(--hue),       30%, 33%);
    --color-dark: hsl(var(--hue),       30%, 20%);

    --footer-color: var(--color-light);

    --color-black: #000000;

    --color-blatherbox-inside: #f5f5f5;
    --color-blatherbox-outside: #c5c5c5;
}


/*BODY*/


body {
    font-family: 'Cousine', monospace;
    background-color: var(--color-half);
    padding: 0; 
    margin: 0;
    /* background-image: url('media/bg-tile.png');
    background-repeat: repeat; */
}

/*HEADER CSS*/

.header-box{
    width: 100%;
    height: var(--header-height);
    background-color: var(--color-dark);
    color: var(--color-light);

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-box a {
    color: var(--color-light);
  }

/*IFRAME*/

iframe {
    width: 100%;
    height: var(--header-height);
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: block;
}

/*MISCELANEOUS*/

.separator-h {
    width: 10px;
    background-color: transparent;
}

.separator-v {
    height: 10px;
    background-color: transparent;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-dark);
    color: var(--color-light);
    text-decoration: none;
    border: ridge;
    border-color: var(--color-light);;
    cursor: pointer;
}

.footer-div {
    width: var(--main-centered-width);
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.footer-text{
    color: var(--footer-color);
}

/*DIV BOXES*/

.page-border{
    border: 2px solid var(--color-dark);
    margin: 0 auto;
    width: var(--main-centered-width);

    transition: width var(--transition-speed);
}

.center-page {
    width: var(--main-centered-width);
    /* background-color: blueviolet; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.center-nav {
    width: var(--main-centered-width);
    margin: 0 auto;
    height: 100px;
}

.date-time{
    width: var(--main-centered-width);
    height: 30px;
    background-color: var(--color-dark);
    color: var(--color-light);
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;

    transition: width var(--transition-speed);
}

.date-time p{
    font-size: 9px;
    padding-left: 10px;
    font-weight: bold;
}

.date-time a{
    color: var(--color-light);
    font-size: 9px;
    padding-left: 10px;
    font-weight: bold;
}

.image-div{
    width: 640px;
    height: 480px;
    /* background-color: red; */

}

.outer-blatherbox{
    background-color: var(--color-blatherbox-outside);
    width: var(--blatherbox-width);
    height: var(--blatherbox-height);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: width var(--transition-speed);
}

.blatherbox {
    display: inline-block;
    background-color: var(--color-blatherbox-inside);
    width: var(--blathertext-width);
    height: var(--blathertext-height);
    overflow: auto;
    border: 4px ridge;
}

/*TEXT FORMATTING*/

.blathertext {
    line-height: var(--blather-line-height);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.blathertext p{
    margin: 0;
    padding: var(--distance-between-blather-linebreaks);
    line-height: var(--blather-line-height);
}

/*TITLE TEXT*/

.center-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title{
    width: calc(var(--main-centered-width)); /*SAME AS CENTER-PAGE, THE DIV THAT STORES IMAGE AND BLATHER*/
    height: 100%;
    background-color: var(--color-light);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    
    transition: width var(--transition-speed);
}

.background-alt{
    width: calc(var(--main-centered-width));
    height: 100%;
    background-color: var(--color-light);
    justify-content: center;

    display: flex;
    
    transition: width var(--transition-speed);
}

.page-title-text{
    width: 80%;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: var(--color-black);
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: -10px;
    margin-bottom: -10px;
}

/*AUTHOR NOTES*/

.author-note{
    width: 640px;
    padding: 20px;
    margin: 20px;
    color: #ffffff
}

.author-note hr{
    border-color: #8d8d8d;
}

.a-p-title{
    font-size: 2rem;
}

.a-p-dialog-box{
    background-color: #dadada;
    padding: 10px 30px 10px 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-style: none;
    border-color: #000000;
    border-width: 2px;
}

.a-p-dialog-box p{
    margin: 4px 0px 4px 0px;
}

/*INDENTS*/
.no-indent{
    text-indent: 0px;
}

.indent{
    text-indent: 2rem;
}

/*CHARACTER COLOR CODES*/

.center{
    text-align: center;
}

.text-black{
    color:  #000000;
}

.text-gray{
    color:  #4e4e4e;
}

.apfel{
    color: #ee1c00;
  }

.kase {
    color: #cf6c10;
  }

.emilio {
    color: rgb(54, 54, 54);
  }

.blume {
    color: #8d1a5d;
  }

.statue {
    color: #00a000;
  }

.parmesan {
    color: #d3950f;
  }

.merriweather{
    font-family: 'Merriweather', serif;
}

.bigger-size{
    font-size: 32px;
}

.book-indent{
    text-indent: 2em;
}

.text-news-h1{
    font-size: 2rem;
    text-align: center;
}

.text-news-h2{
    font-size: 18px;
    font-weight: bold;
}

.footer-text:before{
    content: "© TheHirou.com 2023";
}

.footer-text{
    text-decoration: none;
}